@model BLL.UserPassFM

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="error">
        @ViewBag.ErrorMessage
    </div>

    @Html.HiddenFor(model => model.ID)

    <div>
        @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", placeholder = "Current Password" })
    </div>
    <div>
        @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "New Password" })
    </div>
    <div>
        @Html.PasswordFor(model => model.VerifyPassword, new { @class = "form-control", placeholder = "Confirm New Password" })
    </div>

    <input type="submit" value="Change Password" />
}