@{
    ViewBag.Title = "Home Page";
}

<h1><i>Insert project name</i></h1>
<h5><i>Insert witty comment</i></h5>

<div>
    <div>
        <h2>About (project name)</h2>
        <p><i>Insert brief info about project</i></p>
        <p>@Html.ActionLink("Learn more", "About", "Home")</p>
    </div>
    <div>
        <h2>Getting started</h2>
        <p><i>Inset info about creating an account and character</i></p>
        <p>
            @if(Session["ID"] == null)
            {
                @Html.ActionLink("Login", "Login", "Account");
            }
            else
            {
                @Html.ActionLink("Create Character", "Create", "Character");<br />
                @Html.ActionLink("Choose Character", "Choose", "Character");
            }
        </p>
    </div>
    <div>
        <h2>Feedback</h2>
        <p><i>Insert contact info and link to a view page for emailing ideas</i></p>
        <p>@Html.ActionLink("Contact Us", "Contact", "Home")</p>
    </div>
</div>