<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Capstone Project</title>
    <link href="~/Content/capstone.css" rel="stylesheet" />
</head>
<body>
    <div id="top_nav">
        <!-- top links -->
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>|</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>|</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
        </ul>
        <div style="float:right;">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <!-- Content area, where the pages open inside of the laid-out box design area -->
    <div id="container">
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </div>
    <!-- Footer area, for the credits and year -->
    <div id="footer">
        <p>&copy; @DateTime.Now.Year Onshore Capstone Project</p>
    </div>
</body>
</html>