@if (Session["ID"] != null)
{
    <ul>
        <li>@Html.ActionLink("Welcome, " + Session["Name"] + ".", "Index", "Home")</li>
        <li>|</li>
        <li>@Html.ActionLink("Create Character", "Create", "Character")</li>
        <li>|</li>
        <li>@Html.ActionLink("View Characters", "ViewCharacters", "Character")</li>
        <li>|</li>
        <li>@Html.ActionLink("Manage Account", "Manage", "Account")</li>
        <li>|</li>
        <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
    </ul>
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account")</li>
        <li>|</li>
        <li>@Html.ActionLink("Log in", "Login", "Account")</li>
    </ul>
}